<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-button (click)='payWithRazorpay()' expand="full" fill="outline">Outline + Full</ion-button>    
    </ion-item>
    <ion-item>
      <ion-label>Longitude - {{longitude}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Latitude - {{latitude}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
